{{ define "title" }}
  {{- .Title }} - {{ .Site.Title -}}
{{ end }}
{{ define "main" }}

{{ $today := dateFormat "2006-01-02" now }}
{{ $all := sort $.Site.Data.series "date" }}
{{ $filter := where $all "service" .Title }}
{{ $later := where $filter "date" "gt" $today }}
{{ $earlier := where $filter "date" "le" $today }}
{{ $prior := time.Duration "hour" -4320 }}
{{ $weeksago := now.Add $prior }}
{{ $recent_date := dateFormat "2006-01-02" $weeksago }}
{{ $recent := where $earlier "date" "gt" $recent_date }}
  
<h1>{{ .Title }}</h1>

{{ if $recent }}
<h2>Available</h2>
<ul class="pagelist">
{{ range $recent }}
  {{ partial "show.html" . }}
{{ end }}
</ul>
{{ end }}

{{ if $later }}
<h2>Coming Soon</h2>
<ul class="pagelist">
{{ range $later }}
  {{ partial "show.html" . }}
{{ end }}
</ul>
{{ end }} 
{{ end }}
