{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ .Content }}

<h2>Listings by Topic</h2>
<ul class="pagelist">
  {{ range $.Site.Taxonomies.tags }}
  <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Name }}</a></li>
  {{ end }}
</ul>

<h2>All guides</h2>
<ul class="pagelist">
  {{ range .Pages.ByDate }}
  <li>{{ if .IsPage }}{{ dateFormat "Jan 2, 2006" .Date }} &mdash; {{ end }}
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ if .IsNode }}
        : {{ len .Page.Pages }}
        {{ end }}
      </li>
  {{ end }}
{{ end }}
