<meta property="og:title" content="{{ .Title }}"/>
<meta name="twitter:title" content="{{ .Title }}"/>
{{- if .Summary }}
<meta property="description" content="{{ .Summary | plainify }}"/>
<meta property="og:description" content="{{ .Summary | plainify }}"/>
<meta name="twitter:description" content="{{ .Summary | plainify }}"/>
{{- else }}
<meta property="description" content="Show Schedules without Bullshit"/>
<meta property="og:description" content="Show Schedules without Bullshit"/>
<meta name="twitter:description" content="Show Schedules without Bullshit"/>
{{- end }}
<meta property="og:image" content="{{ .Site.BaseURL }}img/favicon.png"/>
<meta name="twitter:image" content="{{ .Site.BaseURL }}img/favicon.png"/>
<meta name="twitter:card" content="summary"/>
<meta property="og:url" content="{{ .RelPermalink }}"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="{{ .Site.Title }}"/>
