{{ define "main" }}

<p>Learn how <a href="/pages/about#how-to-contribute">you can contribute</a>.</p>

{{ $today := dateFormat "2006-01-02" now }}
{{ $all := sort $.Site.Data.series "date" }}
{{ $later := where $all "date" "gt" $today }}
{{ $earlier := where $all "date" "le" $today }}
{{ $twoweeks := time.Duration "hour" -336 }}
{{ $weeksago := now.Add $twoweeks }}
{{ $recent_date := dateFormat "2006-01-02" $weeksago }}
{{ $recent := where $earlier "date" "gt" $recent_date }}

{{ if $recent }}
<h2>New</h2>
<ul class="pagelist">
{{ range $recent }}
  {{ partial "show.html" . }}
{{ end }}
</ul>
{{ end }}

{{ if $later }}
<h2>Coming Soon</h2>
<ul class="pagelist">
{{ range first 20 $later }}
  {{ partial "show.html" . }}
{{ end }}
</ul>
{{ end }}
{{ end }}
